.
..
.aliedit
.android
Arduino
.arduino15
arduino-1.5.6-r2
.bash_history
.bash_logout
.bashrc
.buildroot-ccache
.cache
.ccache
.compiz
.config
.dbus
Desktop
.dmrc
doc
Documents
doc-xlp
Downloads
fb-doc
fiberhome
.gconf
git_build
git_buildroot
.gitconfig
git_scripts
.gnome
.gnome2
.gnome2_private
.gstreamer-0.10
gvp3-env.txt
huixin_server.shining.tar.bz2
.ICEauthority
interview
.java
.jssc
kernelstudy
kindle
.lesshst
.local
logs
memtester-4.3.0.tar.gz
.minirc.dfl
.minirc.ttyUSB0
.mozilla
Music
My Knowledge
OPENSTACK
ovs
.pam_environment
Pictures
.pki
.profile
Public
sdk3.0.2
sd卡启动.txt
.ssh
ssh-key
Templates
test
.thunderbird
tmpfs_build
.TrueCrypt
uboot-pcie
Videos
.viminfo
.wine
.wiznote
work-network
.Xauthority
.xinputrc
xload-fb.tar
xlp-debug
xlpsdk.local.git
.xsession-errors
.xsession-errors.old
